version: '3.9'

services:
  api:
    build:
      context: ./src/Payment.Idempotency.Demo
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - ASPNETCORE_URLS=http://+:5000

